/* vollkorn-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  src: url('./_res/fonts/vollkorn-v23-latin-regular.woff2') format('woff2');
}
/* vollkorn-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 500;
  src: url('./_res/fonts/vollkorn-v23-latin-500.woff2') format('woff2');
}
/* vollkorn-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 600;
  src: url('./_res/fonts/vollkorn-v23-latin-600.woff2') format('woff2');
}
/* vollkorn-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 700;
  src: url('./_res/fonts/vollkorn-v23-latin-700.woff2') format('woff2');
}
/* vollkorn-800 - latin */
@font-face {
  font-display: swap;
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 800;
  src: url('./_res/fonts/vollkorn-v23-latin-800.woff2') format('woff2');
}
/* vollkorn-900 - latin */
@font-face {
  font-display: swap;
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 900;
  src: url('./_res/fonts/vollkorn-v23-latin-900.woff2') format('woff2');
}

/* montserrat-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('./_res/fonts/montserrat-v26-latin-regular.woff2') format('woff2');
}

.ff-m {
  font-family: 'Montserrat';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Vollkorn';
}

.Hl1 {
  font-size: 48px;
}

.Hl2 {
  font-size: 36px;
}

.Hl3 {
  font-size: 28px;
}

.-bold500 {
  font-weight: 500;
}

.-bold600 {
  font-weight: 600;
}

.-bold700 {
  font-weight: 700;
}

.-bold800 {
  font-weight: 800;
}

.-bold900 {
  font-weight: 900;
}
