@import "./fonts.scss";
@import "./mixins.scss";

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-black: #000;
  --color-white: #ffffff;
  --color-primary: rgb(79, 79, 235);
  --color-primary-dark: rgb(73, 73, 187);
  --color-bg: rgb(41, 41, 41);
}

html {
  scroll-behavior: smooth;
}

body {
  // background: linear-gradient(135deg, #0d0d0d, #333333, #2c2c2c, #1a1a1a);
  background: linear-gradient(135deg, #0d0d0d, #333333, #2c2c2c, #1a1a1a);
  color: var(--color-white);
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-bg {
  background: linear-gradient(270deg, #0d0d0d, #222222, #292929, #0a0a0a);
  background-size: 400% 400%;
  animation: gradient-animation 8s ease infinite;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

main {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
}

p {
  font-size: 18px;
  line-height: 28px;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  grid-template-columns: repeat(12, 1fr);
}

.Btn {
  border: none;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 14px 18px;
  border-radius: 8px;
  display: inline-block;
  transition: transform 0.3s ease, background-color 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    color: var(--color-white);
    transform: scale(1.05);
    background-color: var(--color-primary-dark);
  }
}

.Link {
  color: inherit;
  text-decoration: none;

  &:hover {
    // color: var(--color-primary);
  }
}

.Intro {
  h2 {
    margin-bottom: 18px;
  }

  a {
    margin-top: 24px;
  }

  &-center {
    text-align: center;
  }
}

.Header {
  height: 100vh;
  // background-image: url("./_res/img/lorem.jpg");
  background-image: url("./_res/img/auto14.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 1) 100%
    );
    z-index: 1;
  }

  span {
    white-space: nowrap;
  }

  &_container {
    position: relative;
    z-index: 2;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  &_intro {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s ease-in-out forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    // gap: 16px;
    padding: 0 20px;
    margin-bottom: 180px;
  }

  &_btn {
    margin-top: 24px;
  }
}

.scroll-down {
  width: 24px;
  height: 24px;
  border-right: 3px solid var(--color-white); /* Right border for the arrow */
  border-bottom: 3px solid var(--color-white); /* Bottom border for the arrow */
  margin: 20px auto 0;
  transform: rotate(45deg); /* Rotate to make the arrow point down */
  animation: bounce 2s infinite;
  position: absolute;
  bottom: 80px;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0) rotate(45deg); /* Keep arrow pointed down */
  }
  40% {
    transform: translateY(10px) rotate(45deg);
  }
  60% {
    transform: translateY(5px) rotate(45deg);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.Icon {
  width: 48px;
  height: 48px;
}

li {
  list-style: none;
}

.List {
  display: flex;
  gap: 24px;
}

nav {
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 8px 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
  margin: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

  .List {
    display: none;

    @include vp-m {
      display: flex;
    }
  }
}

nav.show {
  transform: translateY(0);
  opacity: 1;
}

nav.hide {
  transform: translateY(-100%);
  opacity: 0;
}

.Section {
  padding: 120px 0;

  &-noPadding {
    padding: 0;
  }
}

.Logo {
  img {
    width: 50px;
  }
}

// Animationen
.fade {
  opacity: 0;
  transform: scale(0.95);
  filter: blur(10px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out,
    filter 0.8s ease-out;

  &.fade-in {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}

.slide-left {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.slide-left-in {
  opacity: 1;
  transform: translateX(0);
}

// Über uns
.Ueberuns {
  &_container {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;

    @include vp-m {
      display: grid;
    }
  }

  &_left {
    grid-column: 1/6;
  }

  &_right {
    grid-column: 7/13;
    position: relative;
    height: fit-content;
  }

  img {
    border-radius: 20px;
    // clip-path: polygon(0 0, 90% 0, 100% 10%, 100% 100%, 0 100%);
  }

  &_badge {
    position: absolute;
    width: 100px;
    height: 120px;
    bottom: -30px;
    left: -30px;
    background-color: var(--color-black);
    color: var(--color-white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    border: 4px inset var(--color-primary);
  }

  &_hdl {
    position: relative;
    display: inline-block;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 33%;
      height: 3px;
      background-color: var(--color-primary);
      border-radius: 8px;
    }
  }
}
//

// Leistungen
.Leistungen {
  position: relative;
  background-image: url("./_res/img/motor2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }

  &_container {
    position: relative;
    z-index: 2;
  }

  &_boxContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    grid-column: 3/11;
    position: relative;
    z-index: 2;
  }

  &_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 31.33%;
    text-align: center;
    align-self: flex-end;
    gap: 18px;

    img {
      width: 80px;
      height: 80px;
    }
  }

  &_boxGrid {
    grid-template-columns: repeat(12, 1fr);
    display: grid;
    gap: 40px;
    margin-top: 60px;
  }

  h3 {
    color: var(--color-white);
    position: relative;
    z-index: 2;
  }
}

//

// Footer
.Footer {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 80px 0 100px 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 33.33%;
    height: 2px; /* Höhe der Border */
    background-color: var(--color-primary); /* Farbe der Border */
    border-radius: 8px;
  }
}
//

// Portfolio
.Portfolio {
  padding-bottom: 0;

  &_swiper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 50px;
  }

  &_swiperContainer {
    grid-column: 1/13;
  }

  &_container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;
  }

  &_inner {
    grid-column: 1/11;
  }

  &_hdl {
    position: relative;
    display: inline-block;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 33%;
      height: 3px;
      background-color: var(--color-primary);
      border-radius: 8px;
    }
  }
}
//

// Swiper
.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper2 {
  height: 600px;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.mySwiper .swiper-slide {
  // cursor: pointer;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--color-primary);
}

// Kontakt
.Kontakt {
  &_container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;
    margin-bottom: 50px;
  }

  &_inner {
    grid-column: 3/11;
  }

  iframe {
    position: relative;
    z-index: 0;
    width: 100%;
  }

  &_icon {
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
  }

  &_map {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    grid-column: 1/9;
    cursor: pointer;

    &:hover {
      .Kontakt_bg {
        transform: scale(1.1);
        // opacity: 1;
      }
    }
  }

  &_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./_res/img/map.jpeg");
    background-size: cover;
    background-position: center;
    opacity: 0.93;
    z-index: 1;
    transition: transform 0.5s ease, opacity 0.5s ease; /* Smooth transition */
  }

  &_btn {
    position: absolute;
    z-index: 2;
  }

  &_bottom {
    display: flex;
    flex-direction: column-reverse;
    grid-template-columns: repeat(12, 1fr);
    gap: 70px;

    @include vp-m {
      display: grid;
    }
  }

  &_time {
    grid-column: 9/13;
  }

  &_field {
    &:not(:last-child) {
      margin-bottom: 24px;
    }

    &:first-of-type {
      margin-top: 24px;
    }
  }
}

//
