/* vollkorn-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: 400;
  src: url("./_res/fonts/vollkorn-v23-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* vollkorn-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: 500;
  src: url("./_res/fonts/vollkorn-v23-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* vollkorn-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: 600;
  src: url("./_res/fonts/vollkorn-v23-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* vollkorn-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: 700;
  src: url("./_res/fonts/vollkorn-v23-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* vollkorn-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: 800;
  src: url("./_res/fonts/vollkorn-v23-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* vollkorn-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: 900;
  src: url("./_res/fonts/vollkorn-v23-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.Hl1 {
  font-size: 48px;
}

.Hl2 {
  font-size: 36px;
}

.Hl3 {
  font-size: 28px;
}

.-bold500 {
  font-weight: 500;
}

.-bold600 {
  font-weight: 600;
}

.-bold700 {
  font-weight: 700;
}

.-bold800 {
  font-weight: 800;
}

.-bold900 {
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-black: #000;
  --color-white: #ffffff;
  --color-primary: rgb(79, 79, 235);
  --color-bg: rgb(41, 41, 41);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-white);
  font-family: "Vollkorn", Helvetica, sans-serif;
  font-weight: 400;
}

main {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
}

p {
  font-size: 18px;
  line-height: 28px;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  grid-template-columns: repeat(12, 1fr);
}

.Btn {
  border: none;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 12px;
  border-radius: 8px;
  display: inline-block;
}
.Btn:hover {
  cursor: pointer;
  color: var(--color-white);
}

.Link {
  color: inherit;
  text-decoration: none;
}
.Intro h2 {
  margin-bottom: 32px;
}
.Intro a {
  margin-top: 24px;
}

.Header {
  height: calc(100vh - 78px);
  background-image: url("./_res/img/lorem.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.Header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 78px);
  background-color: rgba(0, 0, 0, 0.6); /* Halbtransparentes Schwarz */
  z-index: 1; /* Damit das Overlay unter dem Text liegt */
}
.Header_container {
  position: relative;
  z-index: 2;
  height: inherit;
}
.Header_intro {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

li {
  list-style: none;
}

.List {
  display: flex;
  gap: 24px;
}

nav {
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 8px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}
nav.fade-in {
  opacity: 1;
  transform: translateY(0);
}

section {
  padding: 120px 0;
}

.Section-noPadding {
  padding: 0;
}

.Logo img {
  width: 50px;
}

.fade {
  opacity: 0;
  transform: scale(0.95);
  filter: blur(10px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out, filter 0.8s ease-out;
}
.fade.fade-in {
  opacity: 1;
  transform: scale(1);
  filter: blur(0);
}

.Ueberuns_container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}
.Ueberuns_left {
  grid-column: 1/6;
}
.Ueberuns_right {
  grid-column: 7/13;
}/*# sourceMappingURL=main.css.map */