@charset "UTF-8";
/* vollkorn-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: 400;
  src: url("./_res/fonts/vollkorn-v23-latin-regular.woff2") format("woff2");
}
/* vollkorn-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: 500;
  src: url("./_res/fonts/vollkorn-v23-latin-500.woff2") format("woff2");
}
/* vollkorn-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: 600;
  src: url("./_res/fonts/vollkorn-v23-latin-600.woff2") format("woff2");
}
/* vollkorn-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: 700;
  src: url("./_res/fonts/vollkorn-v23-latin-700.woff2") format("woff2");
}
/* vollkorn-800 - latin */
@font-face {
  font-display: swap;
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: 800;
  src: url("./_res/fonts/vollkorn-v23-latin-800.woff2") format("woff2");
}
/* vollkorn-900 - latin */
@font-face {
  font-display: swap;
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: 900;
  src: url("./_res/fonts/vollkorn-v23-latin-900.woff2") format("woff2");
}
/* montserrat-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./_res/fonts/montserrat-v26-latin-regular.woff2") format("woff2");
}
.ff-m {
  font-family: "Montserrat";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Vollkorn";
}

.Hl1 {
  font-size: 60px;
}

.Hl2 {
  font-size: 48px;
}

.Hl3 {
  font-size: 28px;
}

.-bold500 {
  font-weight: 500;
}

.-bold600 {
  font-weight: 600;
}

.-bold700 {
  font-weight: 700;
}

.-bold800 {
  font-weight: 800;
}

.-bold900 {
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-black: #000;
  --color-white: #ffffff;
  --color-primary: rgb(79, 79, 235);
  --color-primary-dark: rgb(73, 73, 187);
  --color-bg: rgb(41, 41, 41);
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(135deg, #0d0d0d, #333333, #2c2c2c, #1a1a1a);
  color: var(--color-white);
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.animated-bg {
  background: linear-gradient(270deg, #0d0d0d, #222222, #292929, #0a0a0a);
  background-size: 400% 400%; /* Verkleinert den Verlauf für einen intensiveren Effekt */
  animation: gradient-animation 8s ease infinite; /* Schneller animieren */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

main {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
}

p {
  font-size: 18px;
  line-height: 28px;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  grid-template-columns: repeat(12, 1fr);
}

.Btn {
  border: none;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 14px 18px;
  border-radius: 8px;
  display: inline-block;
  transition: transform 0.3s ease, background-color 0.3s ease-in-out;
}
.Btn:hover {
  cursor: pointer;
  color: var(--color-white);
  transform: scale(1.05);
  background-color: var(--color-primary-dark); /* Ändere die Farbe beim Hover */
}

.Link {
  color: inherit;
  text-decoration: none;
}
.Intro h2 {
  margin-bottom: 18px;
}
.Intro a {
  margin-top: 24px;
}
.Intro-center {
  text-align: center;
}

.Header {
  height: calc(100vh - 78px);
  background-image: url("./_res/img/lorem.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.Header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 78px);
  background-color: rgba(0, 0, 0, 0.6); /* Halbtransparentes Schwarz */
  z-index: 1; /* Damit das Overlay unter dem Text liegt */
}
.Header_container {
  position: relative;
  z-index: 2;
  height: inherit;
}
.Header_intro {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.Icon {
  width: 48px;
  height: 48px;
}

li {
  list-style: none;
}

.List {
  display: flex;
  gap: 24px;
}

nav {
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 8px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}
nav.fade-in {
  opacity: 1;
  transform: translateY(0);
}
nav li:hover a {
  border-bottom: 2px solid var(--color-primary);
  color: var(--color-primary);
  font-weight: 700;
}

.Section {
  padding: 120px 0;
}
.Section-noPadding {
  padding: 0;
}

.Logo img {
  width: 50px;
}

.fade {
  opacity: 0;
  transform: scale(0.95);
  filter: blur(10px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out, filter 0.8s ease-out;
}
.fade.fade-in {
  opacity: 1;
  transform: scale(1);
  filter: blur(0);
}

.Ueberuns_container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}
.Ueberuns_left {
  grid-column: 1/6;
}
.Ueberuns_right {
  grid-column: 7/13;
}

.Leistungen {
  position: relative;
  background-image: url("./_res/img/lorem.jpg");
  background-size: cover;
  background-position: center;
}
.Leistungen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.Leistungen_container {
  position: relative;
  z-index: 2;
}
.Leistungen_boxContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  grid-column: 3/11;
  position: relative;
  z-index: 2;
}
.Leistungen_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 31.33%;
  text-align: center;
  align-self: flex-end;
  gap: 18px;
}
.Leistungen_box img {
  width: 80px;
  height: 80px;
}
.Leistungen_boxGrid {
  grid-template-columns: repeat(12, 1fr);
  display: grid;
  gap: 40px;
  margin-top: 60px;
}
.Leistungen h3 {
  font-family: "Montserrat";
  color: var(--color-white);
  position: relative;
  z-index: 2;
}

.Footer {
  display: flex;
  justify-content: center;
  gap: 40px;
}/*# sourceMappingURL=main.css.map */