@charset "UTF-8";
/* vollkorn-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: 400;
  src: url("./_res/fonts/vollkorn-v23-latin-regular.woff2") format("woff2");
}
/* vollkorn-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: 500;
  src: url("./_res/fonts/vollkorn-v23-latin-500.woff2") format("woff2");
}
/* vollkorn-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: 600;
  src: url("./_res/fonts/vollkorn-v23-latin-600.woff2") format("woff2");
}
/* vollkorn-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: 700;
  src: url("./_res/fonts/vollkorn-v23-latin-700.woff2") format("woff2");
}
/* vollkorn-800 - latin */
@font-face {
  font-display: swap;
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: 800;
  src: url("./_res/fonts/vollkorn-v23-latin-800.woff2") format("woff2");
}
/* vollkorn-900 - latin */
@font-face {
  font-display: swap;
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: 900;
  src: url("./_res/fonts/vollkorn-v23-latin-900.woff2") format("woff2");
}
/* montserrat-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./_res/fonts/montserrat-v26-latin-regular.woff2") format("woff2");
}
.ff-m {
  font-family: "Montserrat";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Vollkorn";
}

.Hl1 {
  font-size: 60px;
}

.Hl2 {
  font-size: 48px;
}

.Hl3 {
  font-size: 28px;
}

.-bold500 {
  font-weight: 500;
}

.-bold600 {
  font-weight: 600;
}

.-bold700 {
  font-weight: 700;
}

.-bold800 {
  font-weight: 800;
}

.-bold900 {
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-black: #000;
  --color-white: #ffffff;
  --color-primary: rgb(79, 79, 235);
  --color-primary-dark: rgb(73, 73, 187);
  --color-bg: rgb(41, 41, 41);
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(135deg, #0d0d0d, #333333, #2c2c2c, #1a1a1a);
  color: var(--color-white);
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.animated-bg {
  background: linear-gradient(270deg, #0d0d0d, #222222, #292929, #0a0a0a);
  background-size: 400% 400%;
  animation: gradient-animation 8s ease infinite;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

main {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
}

p {
  font-size: 18px;
  line-height: 28px;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  grid-template-columns: repeat(12, 1fr);
}

.Btn {
  border: none;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 14px 18px;
  border-radius: 8px;
  display: inline-block;
  transition: transform 0.3s ease, background-color 0.3s ease-in-out;
}
.Btn:hover {
  cursor: pointer;
  color: var(--color-white);
  transform: scale(1.05);
  background-color: var(--color-primary-dark);
}

.Link {
  color: inherit;
  text-decoration: none;
}
.Intro h2 {
  margin-bottom: 18px;
}
.Intro a {
  margin-top: 24px;
}
.Intro-center {
  text-align: center;
}

.Header {
  height: 100vh;
  background-image: url("./_res/img/auto14.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  background-position: center;
}
.Header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgb(0, 0, 0) 100%);
  z-index: 1;
}
.Header span {
  white-space: nowrap;
}
.Header_container {
  position: relative;
  z-index: 2;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.Header_intro {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease-in-out forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 180px;
}
.Header_btn {
  margin-top: 24px;
}

.scroll-down {
  width: 24px;
  height: 24px;
  border-right: 3px solid var(--color-white); /* Right border for the arrow */
  border-bottom: 3px solid var(--color-white); /* Bottom border for the arrow */
  margin: 20px auto 0;
  transform: rotate(45deg); /* Rotate to make the arrow point down */
  animation: bounce 2s infinite;
  position: absolute;
  bottom: 80px;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0) rotate(45deg); /* Keep arrow pointed down */
  }
  40% {
    transform: translateY(10px) rotate(45deg);
  }
  60% {
    transform: translateY(5px) rotate(45deg);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.Icon {
  width: 48px;
  height: 48px;
}

li {
  list-style: none;
}

.List {
  display: flex;
  gap: 24px;
}

nav {
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 8px 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
  margin: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
nav .List {
  display: none;
}
@media (min-width: 1023px) {
  nav .List {
    display: flex;
  }
}

nav.show {
  transform: translateY(0);
  opacity: 1;
}

nav.hide {
  transform: translateY(-100%);
  opacity: 0;
}

.Section {
  padding: 120px 0;
}
.Section-noPadding {
  padding: 0;
}

.Logo img {
  width: 50px;
}

.fade {
  opacity: 0;
  transform: scale(0.95);
  filter: blur(10px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out, filter 0.8s ease-out;
}
.fade.fade-in {
  opacity: 1;
  transform: scale(1);
  filter: blur(0);
}

.slide-left {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.slide-left-in {
  opacity: 1;
  transform: translateX(0);
}

.Ueberuns_container {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}
@media (min-width: 1023px) {
  .Ueberuns_container {
    display: grid;
  }
}
.Ueberuns_left {
  grid-column: 1/6;
}
.Ueberuns_right {
  grid-column: 7/13;
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
}
.Ueberuns img {
  border-radius: 20px;
}
.Ueberuns_badge {
  position: absolute;
  width: 100px;
  height: 120px;
  bottom: -30px;
  left: -30px;
  background-color: var(--color-black);
  color: var(--color-white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  border: 4px inset var(--color-primary);
}
.Ueberuns_hdl {
  position: relative;
  display: inline-block;
}
.Ueberuns_hdl::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 33%;
  height: 3px;
  background-color: var(--color-primary);
  border-radius: 8px;
}

.Leistungen {
  position: relative;
  background-image: url("./_res/img/motor2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.Leistungen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.Leistungen_container {
  position: relative;
  z-index: 2;
}
.Leistungen_boxContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  grid-column: 3/11;
  position: relative;
  z-index: 2;
}
.Leistungen_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 31.33%;
  text-align: center;
  align-self: flex-end;
  gap: 18px;
}
.Leistungen_box img {
  width: 80px;
  height: 80px;
}
.Leistungen_boxGrid {
  grid-template-columns: repeat(12, 1fr);
  display: grid;
  gap: 40px;
  margin-top: 60px;
}
.Leistungen h3 {
  color: var(--color-white);
  position: relative;
  z-index: 2;
}

.Footer {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 80px 0 100px 0;
}
.Footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 33.33%;
  height: 2px; /* Höhe der Border */
  background-color: var(--color-primary); /* Farbe der Border */
  border-radius: 8px;
}

.Portfolio {
  padding-bottom: 0;
}
.Portfolio_swiper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 50px;
}
.Portfolio_swiperContainer {
  grid-column: 1/13;
}
.Portfolio_container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
}
.Portfolio_inner {
  grid-column: 1/11;
}
.Portfolio_hdl {
  position: relative;
  display: inline-block;
}
.Portfolio_hdl::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 33%;
  height: 3px;
  background-color: var(--color-primary);
  border-radius: 8px;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mySwiper2 {
  height: 600px;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--color-primary);
}

.Kontakt_container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;
  margin-bottom: 50px;
}
.Kontakt_inner {
  grid-column: 3/11;
}
.Kontakt iframe {
  position: relative;
  z-index: 0;
  width: 100%;
}
.Kontakt_icon {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
}
.Kontakt_map {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  grid-column: 1/9;
  cursor: pointer;
}
.Kontakt_map:hover .Kontakt_bg {
  transform: scale(1.1);
}
.Kontakt_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./_res/img/map.jpeg");
  background-size: cover;
  background-position: center;
  opacity: 0.93;
  z-index: 1;
  transition: transform 0.5s ease, opacity 0.5s ease; /* Smooth transition */
}
.Kontakt_btn {
  position: absolute;
  z-index: 2;
}
.Kontakt_bottom {
  display: flex;
  flex-direction: column-reverse;
  grid-template-columns: repeat(12, 1fr);
  gap: 70px;
}
@media (min-width: 1023px) {
  .Kontakt_bottom {
    display: grid;
  }
}
.Kontakt_time {
  grid-column: 9/13;
}
.Kontakt_field:not(:last-child) {
  margin-bottom: 24px;
}
.Kontakt_field:first-of-type {
  margin-top: 24px;
}/*# sourceMappingURL=main.css.map */