@import './fonts.scss';

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-black: #000;
  --color-white: #ffffff;
  --color-primary: rgb(79, 79, 235);
  --color-bg: rgb(41, 41, 41);
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(135deg, #0d0d0d, #333333, #2c2c2c, #1a1a1a);
  color: var(--color-white);
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 400;
  overflow-x: hidden; /* To ensure animation stays within the viewport */
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-bg {
  background: linear-gradient(270deg, #0d0d0d, #222222, #292929, #0a0a0a);
  background-size: 400% 400%; /* Verkleinert den Verlauf für einen intensiveren Effekt */
  animation: gradient-animation 8s ease infinite; /* Schneller animieren */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

main {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
}

p {
  font-size: 18px;
  line-height: 28px;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  grid-template-columns: repeat(12, 1fr);
}

.Btn {
  border: none;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 12px 16px;
  border-radius: 8px;
  display: inline-block;

  &:hover {
    cursor: pointer;
    color: var(--color-white);
  }
}

.Link {
  color: inherit;
  text-decoration: none;

  &:hover {
    // color: var(--color-primary);
  }
}

.Intro {
  h2 {
    margin-bottom: 18px;
  }

  a {
    margin-top: 24px;
  }

  &-center {
    text-align: center;
  }
}

.Header {
  height: calc(100vh - 78px);
  background-image: url('./_res/img/lorem.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 78px);
    background-color: rgba(0, 0, 0, 0.6); /* Halbtransparentes Schwarz */
    z-index: 1; /* Damit das Overlay unter dem Text liegt */
  }

  &_container {
    position: relative;
    z-index: 2;
    height: inherit;
  }

  &_intro {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}

.Icon {
  width: 48px;
  height: 48px;
}

li {
  list-style: none;
}

.List {
  display: flex;
  gap: 24px;
}

nav {
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 8px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;

  &.fade-in {
    opacity: 1;
    transform: translateY(0);
  }

  li {
    &:hover {
      a {
        border-bottom: 2px solid var(--color-primary);
        color: var(--color-primary);
        font-weight: 700;
      }
    }
  }
}

section {
  padding: 120px 0;
}

.Section {
  &-noPadding {
    padding: 0;
  }
}

.Logo {
  img {
    width: 50px;
  }
}

.fade {
  opacity: 0;
  transform: scale(0.95);
  filter: blur(10px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out,
    filter 0.8s ease-out;

  &.fade-in {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}

// Über uns
.Ueberuns {
  &_container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;
  }

  &_left {
    grid-column: 1/6;
  }

  &_right {
    grid-column: 7/13;
  }
}
//

// Leistungen
.Leistungen {
  position: relative; // Stelle sicher, dass das Pseudo-Element relativ positioniert ist
  background-image: url('./_res/img/lorem.jpg');
  background-size: cover; // Sicherstellen, dass das Bild den gesamten Bereich abdeckt
  background-position: center; // Bild zentrieren

  &::before {
    content: ''; // Erstelle ein leeres Pseudo-Element
    position: absolute; // Absolute Positionierung
    top: 0; // Oben beginnen
    left: 0; // Links beginnen
    width: 100%; // Vollständig breit
    height: 100%; // Vollständig hoch
    background-color: rgba(0, 0, 0, 0.8); // Dunkles Overlay mit 50% Opazität
    z-index: 1; // Hinterlasse den Text über dem Overlay
  }

  &_container {
    position: relative;
    z-index: 2;
  }

  &_boxContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    grid-column: 3/11;
    position: relative; // Relativ positionieren, um den Text über das Overlay zu legen
    z-index: 2; // Höherer Z-Index als das Overlay
  }

  &_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 31.33%;
    text-align: center;
    align-self: flex-end;
  }

  &_boxGrid {
    grid-template-columns: repeat(12, 1fr);
    display: grid;
    gap: 40px;
    margin-top: 40px;
  }

  h3 {
    font-family: 'Montserrat';
    color: var(--color-white); // Textfarbe auf Weiß setzen
    position: relative; // Relativ positionieren, um über dem Overlay zu liegen
    z-index: 2; // Höherer Z-Index für den Text
  }
}

//
